<%- include('../partials/head') %>

    <body>
        <%- include('../partials/card-css') %>
            <%- include('../partials/cards-list-css') %>
                <%- include('../partials/header') %>
                    <div class="container">
                        <h1 class="text-lg">Pick a world to explore</h1>
                        <p class="text-md">Choose a topic you are curious about to begin a story</p>
                        <%- include('../partials/cards-list', { topics }) %>

                    </div>

    </body>