<%- include('../partials/head') %>

    <body>
        <%- include('../styles/card2') %>
            <%- include('../partials/header') %>
                <div class="container">
                    <h1 class="text-lg">
                        <%= title %>
                    </h1>
                    <p class="text-md">
                        <%= subtitle %>
                    </p>
                    <div class="cards-container">
                        <% cards.forEach( card=> { %>
                            <%- include('../partials/card2', { card: card }) %>
                                <% }); %>
                    </div>

    </body>